h1{
color:red;
text-align: center;
background-color: brown;
width:100%;
}

h2{
text-align:center;

}

h3{
text-align:center;

}

h4{
text-align:center;

}

p{
text-align:center;

}
}

.center-justified {
    margin: 0 auto;
    text-align: justify;
    width: 25em;
}

