h1{
color:red;
text-align: center;
background-color: brown;
width:100%;
}

p{

  text-align: center;
  border:2px DarkOrchid;
  Background-color: #14144c;
  font-family:Copperplate, Papyrus, Fantasy;
  background-image: url('https://assets.epicurious.com/photos/63fcd98b137a60c27fc345ac/16:9/w_2560%2Cc_limit/CocktailCherries_HERO_022223_47737.jpg');
}

}
h2{
text-align:center;

}

h3{
text-align:center;

}

